body {
  background-color: #86b7fe !important;
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}

.mt-n4 {
  margin-top: -1.5rem !important;
}

div {
  display: block;
  unicode-bidi: isolate;
}

@media only screen and (max-width: 991px) {
  img.huong-dan {
    width: 100% !important;
  }
}